$purple: #511370;
$bg: #e0e0e0;
$link: #4e4e4e;
$hover: #eaeaea;

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg;
  margin: 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .name {
      display: flex;
      justify-content: center;
      font-family: 'Raleway', sans-serif;
      color: $purple;
      font-size: 86px;
      opacity: 0;
      animation-name: fadeInUp;
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-delay: 0.25s;
      text-align: center;
      margin-bottom: 2vh;
      width: 100%;
    }
    .desc {
      opacity: 0;
      text-align: center;
      animation-name: fadeInUp;
      animation-duration: 0.25s;
      animation-fill-mode: both;
      animation-delay: 0.5s;
      color: $purple;
      font-size: 36px;
      font-family: 'Raleway', sans-serif;
      margin-bottom: 2vh;
      width: 100%;
      a {
        color: $link;
      }
    }
    .links {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      width: 90%;
      padding: 0 5%;
      .link-container {
        position: relative;
        animation-name: fadeInUp;
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-delay: 1s;
        margin: 8px;
        width: 64px;
        height: 64px;
        opacity: 0;
        $n: 8;
        @for $x from 2 through $n {
          &:nth-child(#{$x}) {
            animation-delay: 1s + (100ms * ($x - 1));
          }
        }
        &:hover {
          .link {
            background-color: $hover;
            transition: 250ms background-color, 250ms box-shadow,
              250ms max-height;
            box-shadow: 2px 2px 4px $purple;
          }
        }
        .link {
          z-index: 2;
          position: absolute;
          bottom: 0;
          max-height: 100%;
          height: 100%;
          width: 100%;
          color: $purple;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 20%;
          text-decoration: none;
          border: 2px solid $purple;
          box-shadow: 0 0 2px $purple;
          i {
            width: 46px;
            height: 46px;
            font-size: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .title {
          z-index: 1;
          position: absolute;
          width: 100%;
          text-align: center;
          top: 0;
          height: 20%;
        }
      }
    }
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 4vh, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@media (min-width: 0px) {
  body {
    .container {
      width: 240px;
      .name {
        font-size: 36px;
      }
      .desc {
        font-size: 16px;
      }
      .links {
        .link {
          margin: 12px;
          width: 64px;
          height: 64px;
          i {
            width: 48px;
            height: 48px;
            font-size: 48px;
          }
        }
      }
    }
  }
}

@media (min-width: 360px) {
  body {
    .container {
      width: 350px;
      .name {
        font-size: 42px;
      }
      .desc {
        font-size: 16px;
      }
      .links {
        .link {
          margin: 12px;
          width: 64px;
          height: 64px;
          i {
            width: 48px;
            height: 48px;
            font-size: 48px;
          }
        }
      }
    }
  }
}

@media (min-width: 540px) {
  body {
    .container {
      width: 520px;
      .name {
        font-size: 24px;
      }
      .desc {
        font-size: 24px;
      }
      .links {
        width: 360px;
        .link {
          margin: 12px;
          width: 48px;
          height: 48px;
          i {
            width: 36px;
            height: 36px;
            font-size: 36px;
          }
        }
      }
    }
  }
}
@media (min-width: 820px) {
  body {
    .container {
      width: 820px;
      .name {
        font-size: 86px;
      }
      .desc {
        font-size: 36px;
      }
      .links {
        width: 600px;
        .link-container {
          margin: 12px;
          width: 97px;
          height: 97px;
          .link {
            i {
              width: 64px;
              height: 64px;
              font-size: 64px;
            }
          }
          &:hover {
            .link {
              max-height: 80px;
            }
          }
        }
      }
    }
  }
}
