$purple: #511370;
$bg: #e0e0e0;
$link: #4e4e4e;
$hover: #eaeaea;

.next {
  cursor: pointer;
}
.fade-out {
  animation-name: fadeOutUp;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-delay: 0;
}

.hide {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
  * {
    width: 0 !important;
    height: 0 !important;
    display: none !important;
  }
}

.fade-in {
  animation-name: fadeInUp;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg;
  margin: 0;
  .resume-page {
    opacity: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    width: 100%;
  }
  .home-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .name {
      display: flex;
      justify-content: center;
      font-family: 'Raleway', sans-serif;
      color: $purple;
      font-size: 86px;
      opacity: 0;
      animation-name: fadeInUp;
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-delay: 0.25s;
      margin-bottom: 2vh;
      text-align: center;
      width: 100%;
    }
    .desc {
      opacity: 0;
      display: block;
      text-align: center;
      animation-name: fadeInUp;
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-delay: 0.5s;
      color: $purple;
      font-size: 36px;
      font-family: 'Raleway', sans-serif;
      margin-bottom: 2vh;
      width: 100%;
      a {
        color: $link;
      }
    }
    .links {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      width: 90%;
      padding: 0 5%;

      .link {
        animation-name: fadeInUp;
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-delay: 1s;
        margin: 8px;
        width: 64px;
        height: 64px;
        opacity: 0;
        $n: 8;
        @for $x from 2 through $n {
          &:nth-child(#{$x}) {
            animation-delay: 1s + (100ms * ($x - 1));
          }
        }
        width: 100%;
        height: 100%;
        color: $purple;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20%;
        text-decoration: none;
        border: 2px solid $purple;
        box-shadow: 0 0 2px $purple;
        i {
          width: 46px;
          height: 46px;
          font-size: 46px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &:hover {
          background-color: $hover;
          transition: 250ms background-color, 250ms box-shadow, 250ms max-height;
          box-shadow: 2px 2px 4px $purple;
        }
      }
      .title {
        z-index: 1;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 0;
        height: 20%;
      }
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 4vh, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeOutUp {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(0, -4vh, 0);
    opacity: 0;
  }
}

@media (min-width: 0px) {
  body {
    .home-page {
      width: 240px;
      .name {
        font-size: 36px;
      }
      .desc {
        font-size: 16px;
      }
      .links {
        .link {
          margin: 12px;
          width: 64px;
          height: 64px;
          i {
            width: 48px;
            height: 48px;
            font-size: 48px;
          }
        }
      }
    }
  }
}

@media (min-width: 360px) {
  body {
    .home-page {
      width: 350px;
      .name {
        font-size: 42px;
      }
      .desc {
        font-size: 16px;
      }
      .links {
        .link {
          margin: 12px;
          width: 64px;
          height: 64px;
          i {
            width: 48px;
            height: 48px;
            font-size: 48px;
          }
        }
      }
    }
  }
}

@media (min-width: 540px) {
  body {
    .home-page {
      width: 520px;
      .name {
        font-size: 48px;
      }
      .desc {
        font-size: 24px;
      }
      .links {
        width: 360px;
        .link {
          margin: 12px;
          width: 48px;
          height: 48px;
          i {
            width: 36px;
            height: 36px;
            font-size: 36px;
          }
        }
      }
    }
  }
}
@media (min-width: 820px) {
  body {
    .home-page,
    .resume-page {
      width: 820px;
      .name {
        font-size: 86px;
      }
      .desc {
        font-size: 36px;
      }
      .resume-title {
        font-size: 36px;
        color: $purple;
      }
      .resume-desc {
        font-size: 24px;
        color: $link;
      }
      .links {
        width: 600px;

        .link {
          margin: 12px;
          width: 97px;
          height: 97px;
          i {
            width: 64px;
            height: 64px;
            font-size: 64px;
          }
        }
      }
    }
  }
}
